*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainContainer{
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
}

.navbar{
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    display: flex;
    color: white;
    font-weight: 100;
    font-size: 0.6rem;
    justify-content: space-evenly;
}

.getTheApp{
  /* border: 2px solid red;  */
 display: flex;
 width: 20%;
 align-items: center;
 padding-top: 7px;
 justify-content: start;
 font-size: 0.4rem;
}

.navOptions{
 /* border: 2px solid red; */
 display: flex;
 justify-content: space-around;
 width: 50%;
 align-items: end;
}

.otherCont{
    width: 100%;
    height: 90%;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textPartOther{
 /* border: 2px solid red; */
 text-align: center;
 font-size: 1.3rem;
}

.searchBarOther{
     margin-top: 2%;
    height: 10%;
    width: 30%;
    background-color: white;
    width: 50%;
    margin-bottom: 4%;
    border-radius: 3px;
    display: flex;
}
.logAndPlace{
    border: 2px solid red;
    color: grey;
    display: flex;
    width: 30%;
    font-size: 0.5rem;
    align-items: center;
}
.logoAndInput{
    border: 2px solid red;
    width: 50%;
  
}