@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cookie&family=Heebo&family=Nunito:wght@200&family=Pacifico&family=Shadows+Into+Light&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainContainer{
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
}

.navbar{
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    display: flex;
    color: white;
    font-weight: 100;
    font-size: 0.6rem;
    justify-content: space-evenly;
}

.getTheApp{
  /* border: 2px solid red;  */
 display: flex;
 width: 20%;
 align-items: center;
 padding-top: 7px;
 justify-content: start;
 font-size: 0.4rem;
}

.navOptions{
 /* border: 2px solid red; */
 display: flex;
 justify-content: space-around;
 width: 50%;
 align-items: end;
}

.otherCont{
    width: 100%;
    height: 90%;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textPartOther{
 /* border: 2px solid red; */
 text-align: center;
 font-size: 1.3rem;
}

.searchBarOther{
     margin-top: 2%;
    height: 11%;
    background-color: white;
    width: 50%;
    margin-bottom: 4%;
    border-radius: 5px;
    display: flex;
}
.logAndPlace{
   
    color: grey;
    display: flex;
    width: 30%;
    font-size: 0.5rem;
    align-items: center;
}
.logoAndInput{
    
    width: 50%;
    display: flex;
    align-items: center;
    color: rgb(203, 203, 203);
    
}
.inputDish{
    width: 70%;
    font-size: 0.5rem;
    border: none;
    outline: none;
    
}


.foodAndText{
    border:0.3px solid rgb(128, 127, 127);
    margin-top: 5vh;
    margin-left: 10vw;
    height: 28vh;
    width: 38%;
    border-radius: 2vh;
    transition: transform .2s; 
    
}

.foodAndText:hover{
    transform: scale(1.05) ;
}

.foodPic{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    width: 100%;
    height: 70%;
    background-image: url(https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*);
    background-position:center;
    background-size: cover;

}
.foodText{
/* border: 2px solid red; */
    width: 95%;
    height: 20%;
    margin-top: 2.5%;
    margin-left: 4%;
}

.screenheight{
    height: 30vh;
}

.locality{
    border: 0.1px solid rgb(207, 205, 205);
    width: 25%;
    height: 10vh;
    margin-left: 10vw;
    margin-top: 5vh;
    border-radius: 2vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:1% 0 0 2%;
}

.locality:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.appBox{
    height: 50vh;
    width: 100%;
    /* border: 2px solid red ; */
    margin-top: 13vh;
    background-color: #fffbf7;
    display: flex;
    justify-content: center;
}

.appImage{
  height: 100%;
  width: 18%;
  
  background-image: url(https://b.zmtcdn.com/data/o2_assets/f773629053b24263e69f601925790f301680693809.png);
}

.appText{
    height: 100%;
    width: 30%;
    border: 2px solid red ;
}